@import url("https://fonts.googleapis.com/css2?family=Karla:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Karla", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
}

.wrapper {
  display: grid;
  align-content: center;
  justify-items: center;
  width: 40vw;
  height: 420px;
  border-radius: 12px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #ffff;
}

.form1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
h2 {
  margin: 1.5rem 0 1rem 0;
  text-align: center;
}

label {
  margin: 1rem 0 0.2rem 0;
  padding-left: 16px;
  opacity: 0.8;
}

input {
  border-radius: 50px;
  border-style: none;
  outline: none;
  margin-top: 8px;
  padding: 12px 24px;
  width: fit-content;
  background-color: #eaeede;
}

input:focus {
  opacity: 0.7;
}
.btn {
  display: grid;
  justify-items: center;
}
button {
  padding: 12px 48px;
  border-radius: 50px;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
  outline: none;
  border-width: 0;
  background-color: #1a1827;
  font-weight: 600;
  width: fit-content;
}

button:hover {
  opacity: 0.8;
}

.form2 {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.signup {
  padding-left: 5px;
  text-decoration: none;
  cursor: pointer;
  color: #21dafd;
}

.signup:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .wrapper {
    width: fit-content;
  }
  .form1 {
    width: fit-content;
  }
  input {
    width: fit-content;
  }
  .form2 {
    display: grid;
    justify-items: center;
  }
}
@media screen and (max-height: 610px) {
  .wrapper {
    overflow: scroll;
  }
  .form2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}
.sub-form::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f0f0f0;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f0f0f0;
}
